@model OnlineShop.Models.SpecialTag
@{
    ViewData["Title"] = "Edit";
}
<br />

<h2 class="text-info">Edit Special Tag</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="card-group row">
            <div class="col-2">
                <label asp-for="Name" class="control-lable"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <div class="card-group">
                <input type="submit" value="Update" class="btn btn-primary m-1" />
                <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-success m-1">Back To List</a>
                

            </div>
        </div>

    </div>
</form>


